@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #F5F5F5;
  --foreground: #313131;
  --action: #ff9898;
  --actionHover: #1c5b80;
}

h1{
  font-size: 80px;
  line-height: 1;
}
h2{
  font-size: 25px;
  letter-spacing: 5px;
}
h3{
  font-size: 18px;
}
