@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #f3eeee;
  --secundary: #1E1E1E;
  --border:#818181;
  --action: #7ebaff;
  --white:#FFFFFF;
  --layer:#ffc7c74d;
  --actionHover: #ff68f2;
  --dark:#0b2736;
  font-weight: 700;
}

h1{
  font-size: 50px;
  line-height: 1;
  text-wrap: balance;
  margin-bottom: 2px;
}
h2{
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  margin-block: 2px;
}
h3{
  font-size: 25px;
}
input{
  outline: none;
  width: 240px;
  border: solid 2px var(--white);
  background-color: var(--action);
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 10px;
  color: var(--secundary);
}

